* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

@font-face {
    font-family: 'Vetrino'; 
    src: url('fonts/Vetrino.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura'; 
    src: url('fonts/Futura-PT_Cond-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Medium'; 
    src: url('fonts/futuralight-light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #13262D;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 74px;
    background-color: #102026;
    padding-right: 110px;
    padding-left: 110px;
}

.nav {
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;
}

.title {
    font-family: 'Vetrino';
    color: #FFEEDE;
    font-size: 44px;
    font-weight: 400;
}

.nav-menu {
    margin-left: auto;
}

.menu-item {
    cursor: pointer;
    font-family: 'Futura';
    font-size: 32px;
    color: #FFEEDE;
}

.menu-item:hover {
    color: #a09a94;
}

.nav-menu .middle {
    margin: 0 22px;
}

.nav-menu-loader {
    margin-left: auto;
    display: none;
}

.more {
    display: flex;
    align-items: center;
    padding-top: 74px;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 214px;
    background-color: #1a2e36;
    transform: translateY(-100%);
    transition: transform 0.2s ease-in-out;
}

@media (min-width: 900px) {
    .more {
        display: none;
    }
}

.more.show {
    transform: translateY(0);
}

.container {
    padding-left: 110px;
    padding-right: 110px;
}

.vertical-middle {
    margin: 10px 0;
}

.vertical-last {
    margin-bottom: 10px;
}

.main-picture-container {
    padding-top: 74px;
}

.main-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-title {
    font-family: 'Vetrino';
    color: #FFEEDE;
    font-size: 44px;
    font-weight: 400;
    text-align: center;
    margin: 50px 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 50px;
    width: 100%;
}

.photo {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.photo img:hover {
    transform: scale(1.05); 
}

.about {
    background-color: #102026;
    padding-bottom: 100px;
}

.about .title {
    margin-top: 60px;
    padding: 40px 0;
    color: #FFCF86;
}

.about-table {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(1, 1fr);
    gap: 80px;
    width: 100%;
}

.about-photo {
    aspect-ratio: 2 / 3;
    overflow: hidden;
    background-color: white;
}

.about-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-caption {
    font-family: 'Futura Medium';
    font-size: 28px;
    color: #FFEEDE;
}

footer {
    height: 200px;
    padding-top: 60px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    margin: 0 30px;
}

.copy {
    text-align: center;
    margin: 30px;
    color: #a09a94;
    font-family: 'Futura Medium';
    font-size: 18px;
}

@media (max-width: 1080px) {
    .title {
        font-size: 36px;
    }
    .nav-menu .menu-item {
        font-size: 28px;
    }

    .nav-menu .middle {
        margin: 0 16px;
    }

    header {
        padding-right: 85px;
        padding-left: 85px;
    }

    .container {
        padding-left: 85px;
        padding-right: 85px;
    }

    .gallery {
        gap: 40px;
    }

    .gallery-title {
        margin: 40px 0;
        font-size: 36px;
    }

    .about-caption {
        font-size: 24px;
    }
}

@media (max-width: 900px) {
    .nav-menu {
        display: none;
    }

    .menu-item {
        font-size: 28px;
    }

    .nav-menu-loader {
        display: block;
    }

    header {
        padding-right: 70px;
        padding-left: 70px;
    }

    .container {
        padding-left: 70px;
        padding-right: 70px;
    }

    .gallery {
        gap: 30px;
    }

    .gallery-title {
        margin: 30px 0;
    }

    .about-table {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 32px;
    }

    header {
        padding-right: 55px;
        padding-left: 55px;
    }

    .container {
        padding-left: 55px;
        padding-right: 55px;
    }

    .menu-item {
        font-size: 25px;
    }

    .gallery {
        gap: 25px;
    }

    .gallery-title {
        margin: 25px 0;
        font-size: 32px;
    }
}

@media (max-width: 560px) {
    .title {
        font-size: 24px;
    }

    header {
        padding-right: 35px;
        padding-left: 35px;
    }

    .container {
        padding-left: 35px;
        padding-right: 35px;
    }

    .menu-item {
        font-size: 22px;
    }

    .gallery {
        gap: 20px;
    }

    .gallery-title {
        margin: 20px 0;
        font-size: 24px;
    }

    .about-caption {
        font-size: 18px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.2s;
    visibility: hidden;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

#fullImage {
    max-width: 90%;
    max-height: 80%;
    margin-bottom: 10px;
}

.image-description {
    color: #fff;
    font-family: "Futura Medium";
    font-size: 18px;
    text-align: center;
    max-width: 70%;
    line-height: 1.4em;
}

body.no-scroll {
    overflow: hidden;
}
